<!--FOOTER BEGIN-->
	<body background="red">
      <div id="footer">

         <div class="container">
         <div class="copyright">&copy; Copyright 2014 AKG Design. All rights reserved.<a href="http://www.kasturinfotec.com/">Kasturi Infotec</a>
         </div>
         </div>

      </div>
      <!--FOOTER END-->
      </body>
