  
<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <div class="brand"><a href="index"><img src="/assets/hrp/Ashwina-logo.png"  alt="" width="250px" height="170px" ></a></div>
          <div class="test">
         	  <button type="button" class="btn btn-navbar black" data-toggle="collapse" data-target="#nav">
              	 <span class="ButWrap">
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
                 </span>
                 <span data-value='current-nav' class="CurrentPage">Home</span>
              </button>
              <ul class="Socials">
                 <li><a href="#" class="tweet"><span></span></a></li>
                 <li><a href="#" class="facebook"><span></span></a></li>
                 
              </ul>    
          </div>
          <div class="nav-collapse collapse customMenu" id="nav">
          <div id="wrapper">
          <div id="scroller">
            <ul class="nav pull-right TopMenu">

              <li class="active"><a href="/">Home</a></li>
              <li><a href="/about_us" class="aLink">About</a></li>
              <li><a href="/gallery" class="aLink">Gallery</a></li>
              <li><a href="/akg_design" class="aLink">AKG Design Portfolio</a></li>
              <li><a href="/contact_us" class="aLink">Contact</a></li>

             
              
            </ul>
          </div>
          </div>
          </div>
        </div>
      </div>
    </div>
