
    
    <div id="wrap">  
    
        
        <!--ABOUT BEGIN-->
        <div id="about">
        <div class="row BottomMenuWrap" id="about_menu">
            <div class="navbar">
                <div class="navbar-inner">
                <div class="container">
                <div class="test">
                    <button type="button" class="btn btn-navbar gray" data-toggle="collapse" data-target="#about .nav-collapse">
                    	<span class="ButWrap">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        </span>
                        <span data-value='current-nav' class="CurrentPageGray">Our Story</span>
                    </button>
                </div>
                   
                 </div>
                 </div>
             </div>
         </div>
         </div>
     <div class="row-fluid AboutContent">
     <div class="container">
     <div class="tab-content">
     <div class="tab-pane fade in active" id="story">
          	<div class="span3"><div class="title">Our Story</div></div>
       	    <div class="span6">
        	<div class="aboutText">
            	<p class="muted"><h4>OBJECTIVES:</h4>
       Work for Mission & Vision of organization and to achieve excellence through Commitment. Confident, goal oriented capable of undertaking and completing projects, designing and executing the same in committed time span. Special emphasis is on designing by fulfilling Client’s requirements considering their budget, new design and material trends, giving importance to colour, textures and lighting.</p> 

        <br/>
        <h4>Education:</h4>
    
        <br/>
        <p class="muted">
         <h6>Passed Diploma in Interior Designing --</h6> from S.K.V. College of Fine Arts and Design (4 yrs ) Diploma in 1999.<br/>
                
            
            <h6>Bsc. (Chemistry)–</h6> FIRST CLASS from Pune university in 1995<br/>
           
            <h6>Workshop – </h6>Awareness of light in design by Philips – 2012.
            </p>     



        <br/>
        <h4>Professional Experience:</h4>
        <br/>
        <p class="muted">
        <h6>Fifteen years of extensive experience in Interior Designing Working since 1996<h6>(after completing 1st year of interior design)</p>       
       
         <br/>
        <h5>PROFESSIONAL WORK SUMMARY:</h5>
        <p class="muted">
        <h4>1) Company </h4> : Ambience, Pune(Arch.Sandeep Shah & Nitin Tawal)<br/> : as a Trainee designer      
        <h6> Duration </h6> : May  1996 - April 1997</p> 
        <h5>PROJECTS HANDLED:</h5> 
        <p class="muted"> <h6>1. Worked on few residential and commercial projects like Flats, Bunglows, Shops and offices</h6></p> 

         


          <br/>
        <h5>PROFESSIONAL WORK SUMMARY:</h5>
        <p class="muted">
        <h4>2) Company </h4>: Unique designers, Pune<br/> (Arch.Vinay Kulkarni & Rashmi Kulkarni)      
        <h6> Duration </h6> : Sept 1997 – June 2001</p> 

         <br/>
        <h5>PROJECTS HANDLED:</h5> 
        <p class="muted"> <h6>1. Residential projects for Mr.Bora, Mr.Gadgil, Mr.Chordiya etc.</h6></p>

        <h6>2. Finolex offices at Ratnagiri, Chinchwad</h6>
        
        <h6>3. Offices for Drilco Secco, Technologic, Chordiya Food Products, Etc. in Pune Handled many such projects from designing, estimation upto execution.</h6>
        </p>





        <br/>
        <p class="muted">
        <h4>3) Company </h4>: Arch. Hemant Khire, Pune.<br/>      
        <h6> Duration </h6> : 1998 - 1999</p> 

           
        <h5>PROJECTS HANDLED:</h5> 
        <p class="muted"> <h6>1. Residential projects for Mr.Mokashi, Etc. , Pune</h6></p>

        <h6>2. Offices for Mapro, Spicer & Gabriel,Etc , Pune</h6>
        
        <h6>3. Banks – United Western Band ( now IDBI )</h6>
        </p>




           <br/>
        <p class="muted">
        <h4>4) Company </h4>: Ambience , Pune<br/>(Arch. Sandeep Shah & Mangesh Kulkarni      
        <h6> Duration </h6> :  Aug. 2002 – 2010 as Senior Designer</p> 

    
        <h5>PROJECTS HANDLED:</h5> 
        <p class="muted"> <h6>1. Residential projects, Bunglows, Flats at Jalgaon, Nashik, Pune</h6></p>

        <h6>2. Shops like Poona Motors, Manali Jewelers, Nifad bank, etc, Pune.</h6>
        
        <h6>3. Club House project at Jalgaon. Handled these projects individually that included estimation, designing, client handling and co-ordination, selection of material , fabric , artefacts , set up of final site. Received appreciation letter for work done from Opel builders.
        </h6>   




           <br/>
         <p class="muted">
        <h4>5) Company </h4> : Mangesh Kulkarni<br/>     
        <h6> Duration </h6>  : Aug. 2010 – 2011 ( as Senoir Designer )</p> 
        


        <h5>PROJECTS HANDLED:</h5> 
        <p class="muted"> <h6>1. Residential projects  Bunglows, Flats, in Pune</h6></p>
        </p>
         </div>
        </div>
       </div>
     </div>
     </div></div>







      