      <div id="wrap">
        <div class="row" id="PageLeftBar">
        <div class="container">
            <h2> With a salute to the almighty !</h2>  
            <div class="span12 PageLeftWrap">
                <div class="span3 sidebar-nav">
                      


                     <div class="span12 Null">
                    <section id="portfolio-wrapper">
                   
                  <ul class="portfolio grid isotope">
                  
                     <li data-category="Residential" class="Residential item-small isotope-item">
                     
                     <a class="example-image-link" href="/assets/hrp/ind1.png" data-lightbox="example-2" ><img class="example-image" src="/assets/hrp/ind1.png" alt="image-1"/></a>
                    </li> 
                    </ul>
                    </section>
                    </div>   
                    
                     


                 <div class="span12 Null">
                    <section id="portfolio-wrapper" class="examples-section">
                   <h3>Living</h3>
                  <ul class="portfolio grid isotope">
                  
                     <li data-category="Residential" class="Residential item-small isotope-item">
                      <a class="example-image-link" href="/assets/hrp/ind4.png" data-lightbox="example-2" ><img class="example-image" src="/assets/hrp/ind4.png" alt="image-1"/></a>
                    </li>
                    <li data-category="Hotels" class="Hotels item-small isotope-item">
                     <a class="example-image-link" href="/assets/hrp/ind5.png" data-lightbox="example-2" ><img class="example-image" src="/assets/hrp/ind5.png" alt="image-1"/></a>
                    
                    </li> 
                   <li data-category="Hotels" class="Hotels item-small isotope-item">
                    <a class="example-image-link" href="/assets/hrp/ind6.png" data-lightbox="example-2" ><img class="example-image" src="/assets/hrp/ind6.png" alt="image-1"/></a>
                     </li> 
                    <li data-category="Hotels" class="Hotels item-small isotope-item">
                      <a class="example-image-link" href="/assets/hrp/ind7.png" data-lightbox="example-2" ><img class="example-image" src="/assets/hrp/ind7.png" alt="image-1"/></a>
                    </li> 
                    <li data-category="Hotels" class="Hotels item-small isotope-item">
                       <a class="example-image-link" href="/assets/hrp/ind8.png" data-lightbox="example-2" ><img class="example-image" src="/assets/hrp/ind8.png" alt="image-1"/></a>
                    </li> 
                    <li data-category="Hotels" class="Hotels item-small isotope-item">
                       <a class="example-image-link" href="/assets/hrp/ind9.png" data-lightbox="example-2" ><img class="example-image" src="/assets/hrp/ind9.png" alt="image-1"/></a>
                    </li> 
                    <li data-category="Hotels" class="Hotels item-small isotope-item">
                       <a class="example-image-link" href="/assets/hrp/ind10.png" data-lightbox="example-2" ><img class="example-image" src="/assets/hrp/ind10.png" alt="image-1"/></a>
                    </li> 

                  </ul> 
                </section>    
            </div>  
           
                 <div class="span12 Null">
                   <section id="portfolio-wrapper">
                    <h3>Ward Robe</h3>
                  <ul class="portfolio grid isotope">
                  
                     <li data-category="Residential" class="Residential item-small isotope-item">
                      <a class="example-image-link" href="/assets/hrp/ind20.png" data-lightbox="example-2" ><img class="example-image" src="/assets/hrp/ind20.png" alt="image-1"/></a>
                     
                    </li>      
                    <li data-category="Hotels" class="Hotels item-small isotope-item">
                     <a class="example-image-link" href="/assets/hrp/ind21.png" data-lightbox="example-2" ><img class="example-image" src="/assets/hrp/ind21.png" alt="image-1"/></a>                   
                    </li>                            
                     <li data-category="Residential" class="Residential item-small isotope-item">
                      <a class="example-image-link" href="/assets/hrp/ind22.png" data-lightbox="example-2" ><img class="example-image" src="/assets/hrp/ind22.png" alt="image-1"/></a>
                    </li>                                   
                    <li data-category="Residential" class="Residential item-small isotope-item">
                     <a class="example-image-link" href="/assets/hrp/ind23.png" data-lightbox="example-2" ><img class="example-image" src="/assets/hrp/ind23.png" alt="image-1"/></a>
                     
                    </li>        
                    
                  </ul> 
                </section>    
             </div>   

              <div class="span12 Null">
               <section id="portfolio-wrapper">
                   <h3>Kitchen Dinning</h3>
                  <ul class="portfolio grid isotope">
                  
                     <li data-category="Residential" class="Residential item-small isotope-item">

                        <a class="example-image-link" href="/assets/hrp/ind14.png" data-lightbox="example-2" ><img class="example-image" src="/assets/hrp/ind14.png" alt="image-1"/></a>
                    
                    </li>      
                    <li data-category="Hotels" class="Hotels item-small isotope-item">
                    <a class="example-image-link" href="/assets/hrp/ind15.png" data-lightbox="example-2" ><img class="example-image" src="/assets/hrp/ind15.png" alt="image-1"/></a>
                     
                    </li> 
                    <li data-category="Hotels" class="Hotels item-small isotope-item">
                    <a class="example-image-link" href="/assets/hrp/ind1516.png" data-lightbox="example-2" ><img class="example-image" src="/assets/hrp/ind1516.png" alt="image-1"/></a>
                    </li> 
                  </ul> 
                </section>    
              </div>                
                                 
    <div class="row-fluid AboutContent">
     <div class="container">
     <div class="tab-content">
     <h3>Our humane support for at your service !</h3>
         
              <a class="example-image-link" href="/assets/hrp/ind3.png" data-lightbox="example-2" ><img class="example-image" src="/assets/hrp/ind3.png" alt="image-1"/></a>

            <div class="span6">
            <div class="aboutText">

                <p class="muted">&nbsp &nbsp Together with you we brainstorm on various conceptual ideas for your space.With a back up experience of our earlier projects and vast benchmark pictorial information we evolve concepts to suite your requirements.</p><br/>                      


                           <p class="muted"> &nbsp &nbsp Designing and implementing the conceptual ideas to complement the space including living rooms, dining, kitchens, toilets, terraces, gardens, work tables for home and offices interiors.Primary layout plans of furniture  items is followed by designing the complete space.</p>
                         
                           <p class="muted"> &nbsp &nbsp After approval from you, a detailed working drawings are created. An optimized budget  is submitted before start of execution.With a detailed time plan and budget  in place we undertake turnkey project which includes civil changes, electrical fitments, tiling, furniture, false ceiling, painting, texturing.</p>

                           <p class="muted"> &nbsp &nbsp We ensure the quality of material and work in great detail.  Our workforce is hardworking, passionate and extremely. Sourcing or custom design of furniture,sourcing and procurement of light fixtures, decorative accessories and other finishing items like wall papers, decorative paints, soft furnishing like carpets, curtains, bedspreads etc.</p><br/>
                           <p class="muted"> &nbsp &nbsp We cater to your needs whether it is transforming your home or office room-by-room or tackling the entire project at once to create  a signature look.</p>
                        </p>
            </div>
        </div>
        </div>
        </div>
        </div>
        </div>            
            <div class="span12 Null">
                <section id="portfolio-wrapper">
              <h3>TV Unit</h3>
              <ul class="portfolio grid isotope">              
                 <li data-category="Residential" class="Residential item-small isotope-item">
                 <a class="example-image-link" href="/assets/hrp/ind11.png" data-lightbox="example-2" ><img class="example-image" src="/assets/hrp/ind11.png" alt="image-1"/></a>                
                </li>      
                <li data-category="Hotels" class="Hotels item-small isotope-item">
                 <a class="example-image-link" href="/assets/hrp/ind12.png" data-lightbox="example-2" ><img class="example-image" src="/assets/hrp/ind12.png" alt="image-1"/></a> </li>
               </ul> 
            </section>    
            </div>                         

            <div class="span12 Null">
                <section id="portfolio-wrapper">
                 <h3>Entrance Lobby</h3>
                  <ul class="portfolio grid isotope">                  
                     <li data-category="Residential" class="Residential item-small isotope-item">
                      <a class="example-image-link" href="/assets/hrp/ind13.png" data-lightbox="example-2" ><img class="example-image" src="/assets/hrp/ind13.png" alt="image-1"/></a>                     
                    </li>   

                  </ul> 
                </section>    
                    </div>                 

                <div class="span12 Null">
                    <section id="portfolio-wrapper">
                      <h3>Bed Room</h3>
                      <ul class="portfolio grid isotope">                      
                         <li data-category="Residential" class="Residential item-small isotope-item">
                          <a class="example-image-link" href="/assets/hrp/ind16.png" data-lightbox="example-2" ><img class="example-image" src="/assets/hrp/ind16.png" alt="image-1"/></a>
                        </li>      
                        <li data-category="Hotels" class="Hotels item-small isotope-item">
                         <a class="example-image-link" href="/assets/hrp/ind17.png" data-lightbox="example-2" ><img class="example-image" src="/assets/hrp/ind17.png" alt="image-1"/></a>
                        </li>                                
                         <li data-category="Residential" class="Residential item-small isotope-item">
                          <a class="example-image-link" href="/assets/hrp/ind18.png" data-lightbox="example-2" ><img class="example-image" src="/assets/hrp/ind18.png" alt="image-1"/></a>
                        </li> 
                                      
                        <li data-category="Residential" class="Residential item-small isotope-item">
                         <a class="example-image-link" href="/assets/hrp/ind19.png" data-lightbox="example-2" ><img class="example-image" src="/assets/hrp/ind19.png" alt="image-1"/></a>

                        </li>             
                      </ul> 
                    </section>    
                    </div>                  
                         
    <div class="row-fluid AboutContent">
     <div class="container">
     <div class="tab-content">
     <h3>Our humane support for at your service !</h3>           
     <li data-category="Hotels" class="Hotels item-small isotope-item">
             <a class="example-image-link" href="/assets/hrp/ind24.png" data-lightbox="example-2" ><img class="example-image" src="/assets/hrp/ind24.png" alt="image-1"/></a>
             </li>
          
            <div class="span6">
            <div class="aboutText">
                <p class="muted">&nbsp &nbsp&nbsp &nbsp We are equipped with responsible designers, skilled technicians, craftsmen and contractors. We have all the required agencies for carpentry work, floor and wall tiling, electrical, POP ceiling, painting,kitchen trolley, modular office furniture, sofa manufacturers, fabric designers, artists, etc.</p>
                <p class="muted"> &nbsp &nbsp We have list of suppliers for you to select according to your budget  and needs which include wood and plywood, hardware, tiles, wallpapers,  decorative paints, fabric for curtains and sofa, kitchen trolley etc.</p>
                 <p class="muted">&nbsp &nbsp We also have support of experts in the field of  color, lighting, fabrics, electrification, landscaping and civil.Such detailed approach in executing any project helps us to achieve the desired impact for your ambience.</p>              
            </div>
          </div>
          </div>
         </div>
        </div>    
                </div>
            </div>
        </div>
        </div>
   
   
