   <div id="wrap">  
         <!--CONTACTS BEGIN-->
          <div id="contacts">
          <div class="row BottomMenuWrap" id="contacts_menu">
        	<div class="navbar">
                <div class="navbar-inner">
                    <div class="container">
                    <div class="test">
                    <div class="empty"></div>
                        <button type="button" class="btn btn-navbar gray" data-toggle="collapse" data-target="#contacts .nav-collapse">
                        	<span class="ButWrap">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            </span>
                            <span data-value='current-nav' class="CurrentPageGray">Contact Information</span>
                        </button> 
                    </div>
                    	<div class="nav-collapse collapse customMenuGray">
                        <ul class="nav-tabs BottomMenu" data-parent="#contacts">
                            <li class="active"><a href="#MapContact" data-toggle="tab">Contact Information</a></li>
                            <li><a href="#GetInTouch" data-toggle="tab">E-Mail</a></li>
                        </ul>
                      </div>
                      </div>
                  </div>
              </div>
         </div>
         	<div class="tab-content">
            <div class="tab-pane fade in active" id="MapContact">
          	<div class="MapWrap">
            	<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d946.0628402486591!2d73.86407022090151!3d18.472270072181775!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x82476557b853f1ca!2sAshwina+K+Gandhi!5e0!3m2!1sen!2sus!4v1404377673641" width="600" height="450" frameborder="0" style="border:0"></iframe>

            </div>
            <div class="row-fluid">
            <div class="container ContactBottom">
            	<div class="span6">
                	<div class="ContactTitle">Contact Info</div>
                    <ul class="ContactList">
                    	<li class="address">  3, Amit Tower, Bharat Jyoti bus stop,Bibvewadi, Pune – 411037.</li>
                        
                        <li class="mail"><a href="#">
                        ashwinakgandhi@gmail.com</a></li>
                   
                    </ul>
                </div>
                </div>
            </div>
            </div>
            <div class= "tab-pane fade in" id="GetInTouch">
            	<div class="row-fluid">
                	<div class="container ContactBottom">
                        <div class="span3"><div class="title">send Mail</div></div>
                        <div class="span9">
                        
                        	<div class="CommentFormWrap">
    <%=form_for @qucikcontact, url: {:action=>"create", :controller=>"interior"}, method: :post do |f| %>       
                    	
        
            <fieldset>
            <div class="span12">
                <div class="span4">
                <label class="name"><%= f.text_field :name, placeholder: "First Name" , class: :"text"%><span class="error" ></span><span class="empty" ></span></label>
                                    
                                </div>
                                <div class="span4">
                                	<label class="email"><%= f.text_field :email, placeholder: "Email ID" , class: :"text"%>
                                    <span class="error" ></span><span class="empty" ></span></label>
                                </div>
                                <div class="span4">
                                	<label class="text"><%= f.text_field :subject, placeholder: "Contact no" , class: :"text"%>
                                    <span class="error" ></span><span class="empty" ></span></label>
                                </div>
                                <div class="span12 AreaWrap">
                                	<label class="message"><%= f.text_field :message, placeholder: "Message" , class: :"text"%><span class="error" ></span><span class="empty" ></span></label>
                                </div>
                            </div>
                            <div class="span12">
                            	<div class="SubmitWrap">
                                   <%=f.submit :Submit, :class => "btn pull-left", :id=>"submit",:value=>"send your message"%>
            
                                   
                                </div>
                            </div>
                        </fieldset>
                         <%end%>
                    </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
          </div>
         <!--CONTACTS END-->
                  
      </div>
      <!--WRAP END-->
         
    