

  <div id="wrap">
    <div id="ProjectPage">  
    <div class="row BottomMenuWrap SimpleTop">
       
         
            <div class="container">
            
            <div class="customMenuGraySimple">
                <ul class="BottomMenu">
                    
                    <li><a href="/gallery"><b><font color="#A52A2A">Projects</font></b></a></li>
                    <li><a href="/other">Other</a></li>
                 
                  
                </ul>
                
             </div>
             </div>
          </div>
   <div class="row Blog4ColumnContent" id="portfolio-grid">
        <div class="container">
        <div class="span12">
          <div class="span9 MainTitle">
          
            </div>
        </div>
        <div class="span12 Null">
        <section id="portfolio-wrapper">
      <ul class="portfolio grid isotope">
         <li data-category="Residential" class="Residential item-small isotope-item">
          <a href="/project1"><img src="/assets/proj1/living.jpg" alt=""><span class="title">Project 1<br /></span></a>
          <h5>Projects</h5>
        </li>      
        
                
         <li data-category="Residential" class="Residential item-small isotope-item">
          <a href="/project2"><img src="/assets/proj2/living_CONCEPT.jpg" alt=""><span class="title">Project 2<br /></span></a>
        </li> 
                      
        <li data-category="Residential" class="Residential item-small isotope-item">
          <a href="/project3"><img src="/assets/proj3/entrance_2.JPG" alt=""><span class="title">Project 3<br /></span></a>
        </li>        
                
         <li data-category="Residential" class="Residential item-small isotope-item">
          <a href="/project4"><img src="/assets/proj4/IMAG0061.jpg" alt=""><span class="title">Project 4<br /></span></a>
        </li>

        <li data-category="Residential" class="Residential item-small isotope-item">
          <a href="/project5"><img src="/assets/proj5/1.jpg" alt=""><span class="title">Project 5<br /></span></a>
        </li>
         <div class="TeamInfo">
                        <div class="name">
                           Project 3
                        </div>
                     
                    </div>
                
        
      </ul> 
    </section>    
        </div>   
        </div>
    </div>
    </div>
    </div>


