


     
    
    <div id="wrap">  
    <div id="index"> 
    <!--<div class="container-fluid slideWrap">
            <div class="m-carousel m-fluid m-carousel-photos">
                <div class="m-carousel-inner">
                    <div class="m-item m-active"><img src="/assets/pic.jpg" alt=""></div>
                    <div class="m-item"><img src="/assets/pic1.jpg" alt=""></div>
                    <div class="m-item"><img src="/assets/pic2.jpg" alt=""></div>
                    <div class="m-item"><img src="/assets/pic7.jpg" alt=""></div>
                    <div class="m-item"><img src="/assets/pic8.jpg" alt=""></div>
                </div>
                <div class="m-carousel-controls m-carousel-bulleted">
                    <a class="m-active" href="#" data-slide="1">1</a>
                    <a class="" href="#" data-slide="2">2</a>
                    <a class="" href="#" data-slide="3">3</a>
                    <a class="" href="#" data-slide="4">4</a>
                    <a class="" href="#" data-slide="5">5</a>
                </div>
                <div class="m-carousel-controls m-carousel-hud">
                    <a class="m-carousel-prev" href="#" data-slide="prev">Previous</a>
                    <a class="m-carousel-next" href="#" data-slide="next">Next</a>
                 </div>
            </div>   
        </div>-->
        <div class="slideWrap">
        <div class="m-carousel m-fluid m-carousel-photos">
                <div class="m-carousel-inner">
                    <div class="m-item m-active">
                    	<img src="assets/proj5/16.jpg" alt="">
                    </div>
                    <div class="m-item">
                    	<img src="assets/proj5/1.jpg" alt="">
                    </div>
                    <div class="m-item">
                    	<img src="assets/other_proj/8.jpg" alt="">
                    </div>
                    <div class="m-item">
                    	<img src="assets/other_proj/12.jpg" alt="">
                    </div>
                    <div class="m-item">
                    	<img src="assets/proj5/9.jpg"alt="">
                   	</div>
                   
                </div>
                <div class="m-carousel-controls m-carousel-bulleted">
                    <a class="m-active" href="#" data-slide="1">1</a>
                    <a class="" href="#" data-slide="2">2</a>
                    <a class="" href="#" data-slide="3">3</a>
                    <a class="" href="#" data-slide="4">4</a>
                    <a class="" href="#" data-slide="5">5</a>
                </div>
                <div class="m-carousel-controls m-carousel-hud">
                    <a class="m-carousel-prev" href="#" data-slide="prev">Previous</a>
                    <a class="m-carousel-next" href="#" data-slide="next">Next</a>
                 </div>
            </div>
                
            </div>
       
        </div>
      </div>
      <!--WRAP END-->
         
      <!--FOOTER BEGIN-->
      
      <!--FOOTER END-->
      
      <!--ANOTHER SCRIPT-->
    
    <script type="text/javascript">
	//<![CDATA[
		$(function() {
		$( "#accordion" ).accordion({
			collapsible: true
			});
		});
		//]]>
	</script>
    <script type="text/javascript">
	//<![CDATA[
		var myScroll;
		function loaded() {
			myScroll = new iScroll('wrapper');
		}
		document.addEventListener('DOMContentLoaded', function () { setTimeout(loaded, 200); }, false);
		//]]>
	</script>
		
        <script>$('.m-carousel').carousel();</script>
        <script>
		//<![CDATA[
            $(document).ready(function() {
                $('#nav').onePageNav({
                    begin: function() {
                        //console.log('start');
                    },
                    end: function() {
						//
                    },
                    scrollOffset: 0
                });
				$(window).load(function(){
					$('#contact-form').forms({
						ownerEmail:'ex_the_one@rambler.ru'
						})
					})	;

				    $('#myCollapsible').collapse({
					toggle: true
					})
            });
			//]]>
        </script>
