  <div id="wrap">
    <div id="ProjectPage"> 
<div class="row BottomMenuWrap SimpleTop">
       
         
            <div class="container">
            
            <div class="customMenuGraySimple">
                <ul class="BottomMenu">
                    <li><a href="/gallery">Projects</a></li>
                     
                    <li><a href="/other"><b><font color="#A52A2A">Other</font></a></li>
                </ul>
                <ul class="PageNavi">
                  <li><a href="/project1"><span><em></em></span><del class="text">Previous Project</del></a></li>
                  <li><a href="/project3"><span><em></em></span><del class="text">Next Project</del></a></li>
                </ul>
             </div>
             </div>
          </div>


       <div id="wrap">
        <div class="row" id="PageLeftBar">
        <div class="container">
        <br/>
        <br/>
        <br/>
        
            
            <div class="span12 PageLeftWrap">
                <div class="span3 sidebar-nav">
                      


                     
                    
                     

                <div class="span12 Null">
                    <section id="portfolio-wrapper" class="examples-section">
                   <h3>Other Project Photo Gallery</h3>
                  <ul class="portfolio grid isotope">
                  
                     <li data-category="Residential" class="Residential item-small isotope-item">
                      <a class="example-image-link" href="/assets/other_proj/1.jpg" data-lightbox="example-2" data-title="Optional caption."><img class="example-image" src="/assets/other_proj/1.jpg" alt="image-1"/></a>
                    </li>
                    <li data-category="Hotels" class="Hotels item-small isotope-item">
                     <a class="example-image-link" href="/assets/other_proj/2.jpg" data-lightbox="example-2" data-title="Optional caption."><img class="example-image" src="/assets/other_proj/2.jpg" alt="image-1"/></a>
                    
                    </li> 
                   <li data-category="Hotels" class="Hotels item-small isotope-item">
                    <a class="example-image-link" href="/assets/other_proj/3.jpg" data-lightbox="example-2" data-title="Optional caption."><img class="example-image" src="/assets/other_proj/3.jpg" alt="image-1"/></a>
                     </li> 
                    <li data-category="Hotels" class="Hotels item-small isotope-item">
                      <a class="example-image-link" href="/assets/other_proj/4.jpg" data-lightbox="example-2" data-title="Optional caption."><img class="example-image" src="/assets/other_proj/4.jpg" alt="image-1"/></a>
                    </li> 
                    <li data-category="Hotels" class="Hotels item-small isotope-item">
                       <a class="example-image-link" href="/assets/other_proj/5.jpg" data-lightbox="example-2" data-title="Optional caption."><img class="example-image" src="/assets/other_proj/5.jpg" alt="image-1"/></a>
                    </li> 

                    
                    <li data-category="Hotels" class="Hotels item-small isotope-item">
                       <a class="example-image-link" href="/assets/other_proj/6.jpg" data-lightbox="example-2" data-title="Optional caption."><img class="example-image" src="/assets/other_proj/6.jpg" alt="image-1"/></a>
                    </li> 
                    <li data-category="Hotels" class="Hotels item-small isotope-item">
                       <a class="example-image-link" href="/assets/other_proj/7.jpg" data-lightbox="example-2" data-title="Optional caption."><img class="example-image" src="/assets/other_proj/7.jpg" alt="image-1"/></a>
                    </li> 

                 
                  
                     <li data-category="Residential" class="Residential item-small isotope-item">

                        <a class="example-image-link" href="/assets/other_proj/8.jpg" data-lightbox="example-2" data-title="Optional caption."><img class="example-image" src="/assets/other_proj/8.jpg" alt="image-1"/></a>
                    
                    </li>      
                    <li data-category="Hotels" class="Hotels item-small isotope-item">
                    <a class="example-image-link" href="/assets/other_proj/9.jpg" data-lightbox="example-2" data-title="Optional caption."><img class="example-image" src="/assets/other_proj/9.jpg" alt="image-1"/></a>
                     
                    </li> 
                    <li data-category="Hotels" class="Hotels item-small isotope-item">
                    <a class="example-image-link" href="/assets/other_proj/10.jpg" data-lightbox="example-2" data-title="Optional caption."><img class="example-image" src="/assets/other_proj/10.jpg" alt="image-1"/></a>
                    </li> 
                
                  
                     <li data-category="Residential" class="Residential item-small isotope-item">
                      <a class="example-image-link" href="/assets/other_proj/11.jpg" data-lightbox="example-2" data-title="Optional caption."><img class="example-image" src="/assets/other_proj/11.jpg" alt="image-1"/></a>
                     
                    </li>      
                    <li data-category="Hotels" class="Hotels item-small isotope-item">
                     <a class="example-image-link" href="/assets/other_proj/12.jpg" data-lightbox="example-2" data-title="Optional caption."><img class="example-image" src="/assets/other_proj/12.jpg" alt="image-1"/></a>                   
                    </li>                            
                     <li data-category="Residential" class="Residential item-small isotope-item">
                      <a class="example-image-link" href="/assets/other_proj/13.jpg" data-lightbox="example-2" data-title="Optional caption."><img class="example-image" src="/assets/other_proj/13.jpg" alt="image-1"/></a>
                    </li>                                   
                    <li data-category="Residential" class="Residential item-small isotope-item">
                     <a class="example-image-link" href="/assets/other_proj/14.jpg" data-lightbox="example-2" data-title="Optional caption."><img class="example-image" src="/assets/other_proj/14.jpg" alt="image-1"/></a>
                     
                    </li>        
                    
                              
                 <li data-category="Residential" class="Residential item-small isotope-item">
                 <a class="example-image-link" href="/assets/other_proj/15.jpg" data-lightbox="example-2" data-title="Optional caption."><img class="example-image" src="/assets/other_proj/15.jpg" alt="image-1"/></a>                
                </li>      
                <li data-category="Hotels" class="Hotels item-small isotope-item">
                 <a class="example-image-link" href="/assets/other_proj/16.jpg" data-lightbox="example-2" data-title="Optional caption."><img class="example-image" src="/assets/other_proj/16.jpg" alt="image-1"/></a> </li>
                              
                    
                    <li data-category="Residential" class="Residential item-small isotope-item">
                      <a class="example-image-link" href="/assets/other_proj/17.jpg" data-lightbox="example-2" data-title="Optional caption."><img class="example-image" src="/assets/other_proj/17.jpg" alt="image-1"/></a>                     
                    </li>   

                                    
                         <li data-category="Residential" class="Residential item-small isotope-item">
                          <a class="example-image-link" href="/assets/other_proj/18.jpg" data-lightbox="example-2" data-title="Optional caption."><img class="example-image" src="/assets/other_proj/18.jpg" alt="image-1"/></a>
                        </li>      
                        <li data-category="Hotels" class="Hotels item-small isotope-item">
                         <a class="example-image-link" href="/assets/other_proj/19.jpg" data-lightbox="example-2" data-title="Optional caption."><img class="example-image" src="/assets/other_proj/19.jpg" alt="image-1"/></a>
                        </li>                                
                         
                                      
                        

                         <li data-category="Residential" class="Residential item-small isotope-item">
                         <a class="example-image-link" href="/assets/other_proj/22.jpg" data-lightbox="example-2" data-title="Optional caption."><img class="example-image" src="/assets/other_proj/22.jpg" alt="image-1"/></a>
                        </li>  
                         <li data-category="Residential" class="Residential item-small isotope-item">
                         <a class="example-image-link" href="/assets/other_proj/23.jpg" data-lightbox="example-2" data-title="Optional caption."><img class="example-image" src="/assets/other_proj/23.jpg" alt="image-1"/></a>
                        </li>  
                         <li data-category="Residential" class="Residential item-small isotope-item">
                         <a class="example-image-link" href="/assets/other_proj/24.jpg" data-lightbox="example-2" data-title="Optional caption."><img class="example-image" src="/assets/other_proj/24.jpg" alt="image-1"/></a>
                        </li>  
                         <li data-category="Residential" class="Residential item-small isotope-item">
                         <a class="example-image-link" href="/assets/other_proj/25.jpg" data-lightbox="example-2" data-title="Optional caption."><img class="example-image" src="/assets/other_proj/25.jpg" alt="image-1"/></a>
                        </li>  
                         <li data-category="Residential" class="Residential item-small isotope-item">
                         <a class="example-image-link" href="/assets/other_proj/26.jpg" data-lightbox="example-2" data-title="Optional caption."><img class="example-image" src="/assets/other_proj/26.jpg" alt="image-1"/></a>
                        </li>  
                         <li data-category="Residential" class="Residential item-small isotope-item">
                         <a class="example-image-link" href="/assets/other_proj/27.jpg" data-lightbox="example-2" data-title="Optional caption."><img class="example-image" src="/assets/other_proj/27.jpg" alt="image-1"/></a>
                        </li>  
                         <li data-category="Residential" class="Residential item-small isotope-item">
                         <a class="example-image-link" href="/assets/other_proj/28.jpg" data-lightbox="example-2" data-title="Optional caption."><img class="example-image" src="/assets/other_proj/28.jpg" alt="image-1"/></a>
                        </li>  
                         <li data-category="Residential" class="Residential item-small isotope-item">
                         <a class="example-image-link" href="/assets/other_proj/29.jpg" data-lightbox="example-2" data-title="Optional caption."><img class="example-image" src="/assets/other_proj/29.jpg" alt="image-1"/></a>
                        </li>  
                           
                         <li data-category="Residential" class="Residential item-small isotope-item">
                         <a class="example-image-link" href="/assets/other_proj/31.jpg" data-lightbox="example-2" data-title="Optional caption."><img class="example-image" src="/assets/other_proj/31.jpg" alt="image-1"/></a>
                        </li>  
                         <li data-category="Residential" class="Residential item-small isotope-item">
                         <a class="example-image-link" href="/assets/other_proj/32.jpg" data-lightbox="example-2" data-title="Optional caption."><img class="example-image" src="/assets/other_proj/32.jpg" alt="image-1"/></a>
                        </li>  

                      </ul> 
                    </section>    
                    </div>                  
                         
      
                </div>
            </div>
        </div>
        </div>
    </div>
    </div>

   
   
</body>