
<div class="row BottomMenuWrap SimpleTop">
       
         
            <div class="container">
            
            <div class="customMenuGraySimple">
                <ul class="BottomMenu">
                    <li><a href="/gallery"><b><font color="#A52A2A">Back to The List</font></b></a></li>
                    <li><a href="/project1">project 1</a></li>
                    <li><a href="/project2">project 2</a></li>
                    <li><a href="/project3">project 3</a></li>
                    <li><a href="/project4"><b><font color="#A52A2A">project 4</font></b></a></li>
                    <li><a href="/project5">project 5</a></li>
                    
                  
                </ul>
                <ul class="PageNavi">
                  <li><a href="/project3"><span><em></em></span><del class="text">Previous Project</del></a></li>
                  <li><a href="/project5"><span><em></em></span><del class="text">Next Project</del></a></li>
                </ul>
             </div>
             </div>
          </div>


      <div id="wrap">
        <div class="row" id="PageLeftBar">
        <div class="container">
        <br/>
        <br/>
        <br/>
        
            
            <div class="span12 PageLeftWrap">
                <div class="span3 sidebar-nav">
                      


                     
                    
                     


                 <div class="span12 Null">
                    <section id="portfolio-wrapper" class="examples-section">
                   <h3>Project 4 Photo Gallery</h3>
                  <ul class="portfolio grid isotope">
                  
                     <li data-category="Residential" class="Residential item-small isotope-item">
                      <a class="example-image-link" href="/assets/proj4/IMAG0053.jpg" data-lightbox="example-2" data-title="Optional caption."><img class="example-image" src="/assets/proj4/IMAG0053.jpg" alt="image-1"/></a>
                    </li>
                    <li data-category="Hotels" class="Hotels item-small isotope-item">
                     <a class="example-image-link" href="/assets/proj4/IMAG0061.jpg" data-lightbox="example-2" data-title="Optional caption."><img class="example-image" src="/assets/proj4/IMAG0061.jpg" alt="image-1"/></a>
                    
                    </li> 
                   <li data-category="Hotels" class="Hotels item-small isotope-item">
                    <a class="example-image-link" href="/assets/proj4/IMAG0062.jpg" data-lightbox="example-2" data-title="Optional caption."><img class="example-image" src="/assets/proj4/IMAG0062.jpg" alt="image-1"/></a>
                     </li> 
                    <li data-category="Hotels" class="Hotels item-small isotope-item">
                      <a class="example-image-link" href="/assets/proj4/IMAG0063.jpg" data-lightbox="example-2" data-title="Optional caption."><img class="example-image" src="/assets/proj4/IMAG0063.jpg" alt="image-1"/></a>
                    </li> 
                    <li data-category="Hotels" class="Hotels item-small isotope-item">
                       <a class="example-image-link" href="/assets/proj4/entrance.jpg" data-lightbox="example-2" data-title="Optional caption."><img class="example-image" src="/assets/proj4/entrance.jpg" alt="image-1"/></a>
                    </li> 
                    <li data-category="Hotels" class="Hotels item-small isotope-item">
                       <a class="example-image-link" href="/assets/proj4/gb.jpg" data-lightbox="example-2" data-title="Optional caption."><img class="example-image" src="/assets/proj4/gb.jpg" alt="image-1"/></a>
                    </li> 
                    <li data-category="Hotels" class="Hotels item-small isotope-item">
                       <a class="example-image-link" href="/assets/proj4/living_room.jpg" data-lightbox="example-2" data-title="Optional caption."><img class="example-image" src="/assets/proj4/living_room.jpg" alt="image-1"/></a>
                    </li> 

                 
                  
                     <li data-category="Residential" class="Residential item-small isotope-item">

                        <a class="example-image-link" href="/assets/proj4/living_room_b.jpg" data-lightbox="example-2" data-title="Optional caption."><img class="example-image" src="/assets/proj4/living_room_b.jpg" alt="image-1"/></a>
                    
                    </li>      
                    <li data-category="Hotels" class="Hotels item-small isotope-item">
                    <a class="example-image-link" href="/assets/proj4/puja_room.jpg" data-lightbox="example-2" data-title="Optional caption."><img class="example-image" src="/assets/proj4/puja_room.jpg" alt="image-1"/></a>
                     
                    </li> 
                    <li data-category="Hotels" class="Hotels item-small isotope-item">
                    <a class="example-image-link" href="/assets/proj4/random_1.jpg" data-lightbox="example-2" data-title="Optional caption."><img class="example-image" src="/assets/proj4/random_1.jpg" alt="image-1"/></a>
                    </li> 
                
                  
                     <li data-category="Residential" class="Residential item-small isotope-item">
                      <a class="example-image-link" href="/assets/proj4/t_v_cabinet.jpg" data-lightbox="example-2" data-title="Optional caption."><img class="example-image" src="/assets/proj4/t_v_cabinet.jpg" alt="image-1"/></a>
                     
                    </li>      
                    <!--
                    <li data-category="Hotels" class="Hotels item-small isotope-item">
                     <a class="example-image-link" href="/assets/proj4/ind21.png" data-lightbox="example-2" data-title="Optional caption."><img class="example-image" src="/assets/proj4/ind21.png" alt="image-1"/></a>                   
                    </li>                            
                     <li data-category="Residential" class="Residential item-small isotope-item">
                      <a class="example-image-link" href="/assets/proj4/ind22.png" data-lightbox="example-2" data-title="Optional caption."><img class="example-image" src="/assets/proj4/ind22.png" alt="image-1"/></a>
                    </li>                                   
                    <li data-category="Residential" class="Residential item-small isotope-item">
                     <a class="example-image-link" href="/assets/proj4/ind23.png" data-lightbox="example-2" data-title="Optional caption."><img class="example-image" src="/assets/proj4/ind23.png" alt="image-1"/></a>
                     
                    </li>        
                    
                              
                 <li data-category="Residential" class="Residential item-small isotope-item">
                 <a class="example-image-link" href="/assets/proj4/ind11.png" data-lightbox="example-2" data-title="Optional caption."><img class="example-image" src="/assets/proj4/ind11.png" alt="image-1"/></a>                
                </li>      
                <li data-category="Hotels" class="Hotels item-small isotope-item">
                 <a class="example-image-link" href="/assets/proj4/ind12.png" data-lightbox="example-2" data-title="Optional caption."><img class="example-image" src="/assets/proj4/ind12.png" alt="image-1"/></a> </li>
                              
                     <li data-category="Residential" class="Residential item-small isotope-item">
                      <a class="example-image-link" href="/assets/proj4/ind13.png" data-lightbox="example-2" data-title="Optional caption."><img class="example-image" src="/assets/proj4/ind13.png" alt="image-1"/></a>                     
                    </li>   

                                    
                         <li data-category="Residential" class="Residential item-small isotope-item">
                          <a class="example-image-link" href="/assets/proj4/ind16.png" data-lightbox="example-2" data-title="Optional caption."><img class="example-image" src="/assets/proj4/ind16.png" alt="image-1"/></a>
                        </li>      
                        <li data-category="Hotels" class="Hotels item-small isotope-item">
                         <a class="example-image-link" href="/assets/proj4/ind17.png" data-lightbox="example-2" data-title="Optional caption."><img class="example-image" src="/assets/proj4/ind17.png" alt="image-1"/></a>
                        </li>                                
                         <li data-category="Residential" class="Residential item-small isotope-item">
                          <a class="example-image-link" href="/assets/proj4/ind18.png" data-lightbox="example-2" data-title="Optional caption."><img class="example-image" src="/assets/proj4/ind18.png" alt="image-1"/></a>
                        </li> 
                                      
                        <li data-category="Residential" class="Residential item-small isotope-item">
                         <a class="example-image-link" href="/assets/proj4/ind19.png" data-lightbox="example-2" data-title="Optional caption."><img class="example-image" src="/assets/proj4/ind19.png" alt="image-1"/></a>

                        </li>    -->         
                      </ul> 
                    </section>    
                    </div>                  
                         
    
                </div>
            </div>
        </div>
        </div>
    </div>
    </div>

   
   
</body>