  <div id="wrap">
    <div id="ProjectPage">  
    <div class="row BottomMenuWrap SimpleTop">
       
         
            <div class="container">
            
            <div class="customMenuGraySimple">
                <ul class="BottomMenu">
                    <li><a href="/gallery"><b><font color="#A52A2A">Back to The List</font></b></a></li>
                      <li><a href="/project1"><b><font color="#A52A2A">project 1</font></b></a></li>
                    <li><a href="/project2">project 2</a></li>
                    <li><a href="/project3">project 3</a></li>
                     <li><a href="/project4">project 4</a></li>
                     <li><a href="/project5">project 5</a></li>
                  
                </ul>
                <ul class="PageNavi">
                  <li></li>
                  <li><a href="/project2"><span><em></em></span><del class="text">Next Project</del></a></li>
                </ul>
             </div>
             </div>
          </div>
     
    <div id="wrap">
        <div class="row" id="PageLeftBar">
        <div class="container">
        <br/>
        <br/>
        <br/>
        
            
            <div class="span12 PageLeftWrap">
                <div class="span3 sidebar-nav">
                      


                     
                    
                     


                 <div class="span12 Null">
                    <section id="portfolio-wrapper" class="examples-section">
                   <h3>Project 1 Photo Gallery </h3>
                  <ul class="portfolio grid isotope">
                  
                     <li data-category="Residential" class="Residential item-small isotope-item">
                      <a class="example-image-link" href="/assets/proj1/SSK3713.jpg" data-lightbox="example-2" data-title="Optional caption."><img class="example-image" src="/assets/proj1/SSK3713.jpg" alt="image-1"/></a>
                    </li>
                    <li data-category="Hotels" class="Hotels item-small isotope-item">
                     <a class="example-image-link" href="/assets/proj1/SSK3746.jpg" data-lightbox="example-2" data-title="Optional caption."><img class="example-image" src="/assets/proj1/SSK3746.jpg" alt="image-1"/></a>
                    
                    </li> 
                   <li data-category="Hotels" class="Hotels item-small isotope-item">
                    <a class="example-image-link" href="/assets/proj1/SSK3752.jpg" data-lightbox="example-2" data-title="Optional caption."><img class="example-image" src="/assets/proj1/SSK3752.jpg" alt="image-1"/></a>
                     </li> 
                    <li data-category="Hotels" class="Hotels item-small isotope-item">
                      <a class="example-image-link" href="/assets/proj1/SSK3774.jpg" data-lightbox="example-2" data-title="Optional caption."><img class="example-image" src="/assets/proj1/SSK3774.jpg" alt="image-1"/></a>
                    </li> 
                    <li data-category="Hotels" class="Hotels item-small isotope-item">
                       <a class="example-image-link" href="/assets/proj1/SSK3780.jpg" data-lightbox="example-2" data-title="Optional caption."><img class="example-image" src="/assets/proj1/SSK3780.jpg" alt="image-1"/></a>
                    </li> 
                    <li data-category="Hotels" class="Hotels item-small isotope-item">
                       <a class="example-image-link" href="/assets/proj1/SSK3792.jpg" data-lightbox="example-2" data-title="Optional caption."><img class="example-image" src="/assets/proj1/SSK3792.jpg" alt="image-1"/></a>
                    </li> 
                    <li data-category="Hotels" class="Hotels item-small isotope-item">
                       <a class="example-image-link" href="/assets/proj1/SSK3807.jpg" data-lightbox="example-2" data-title="Optional caption."><img class="example-image" src="/assets/proj1/SSK3807.jpg" alt="image-1"/></a>
                    </li> 

                 
                  
                     <li data-category="Residential" class="Residential item-small isotope-item">

                        <a class="example-image-link" href="/assets/proj1/SSK3814.jpg" data-lightbox="example-2" data-title="Optional caption."><img class="example-image" src="/assets/proj1/SSK3814.jpg" alt="image-1"/></a>
                    
                    </li>      
                    
                    <li data-category="Hotels" class="Hotels item-small isotope-item">
                    <a class="example-image-link" href="/assets/proj1/SSK3820.jpg" data-lightbox="example-2" data-title="Optional caption."><img class="example-image" src="/assets/proj1/SSK3820.jpg" alt="image-1"/></a>
                    </li> 
                
                  
                     <li data-category="Residential" class="Residential item-small isotope-item">
                      <a class="example-image-link" href="/assets/proj1/SSK3828.jpg" data-lightbox="example-2" data-title="Optional caption."><img class="example-image" src="/assets/proj1/SSK3828.jpg" alt="image-1"/></a>
                     
                    </li>      
                    <li data-category="Hotels" class="Hotels item-small isotope-item">
                     <a class="example-image-link" href="/assets/proj1/daughters.jpg" data-lightbox="example-2" data-title="Optional caption."><img class="example-image" src="/assets/proj1/daughters.jpg" alt="image-1"/></a>                   
                    </li>                            
                     <li data-category="Residential" class="Residential item-small isotope-item">
                      <a class="example-image-link" href="/assets/proj1/daughterslib.jpg" data-lightbox="example-2" data-title="Optional caption."><img class="example-image" src="/assets/proj1/daughterslib.jpg" alt="image-1"/></a>
                    </li>                                   
                    <li data-category="Residential" class="Residential item-small isotope-item">
                     <a class="example-image-link" href="/assets/proj1/dining.jpg" data-lightbox="example-2" data-title="Optional caption."><img class="example-image" src="/assets/proj1/dining.jpg" alt="image-1"/></a>
                     
                    </li>        
                    
                              
                 <li data-category="Residential" class="Residential item-small isotope-item">
                 <a class="example-image-link" href="/assets/proj1/dressing.jpg" data-lightbox="example-2" data-title="Optional caption."><img class="example-image" src="/assets/proj1/dressing.jpg" alt="image-1"/></a>                
                </li>      
                <li data-category="Hotels" class="Hotels item-small isotope-item">
                 <a class="example-image-link" href="/assets/proj1/family.jpg" data-lightbox="example-2" data-title="Optional caption."><img class="example-image" src="/assets/proj1/family.jpg" alt="image-1"/></a> </li>
                              
                     <li data-category="Residential" class="Residential item-small isotope-item">
                      <a class="example-image-link" href="/assets/proj1/living.jpg" data-lightbox="example-2" data-title="Optional caption."><img class="example-image" src="/assets/proj1/living.jpg" alt="image-1"/></a>                     
                    </li>   

                                    
                                
                      </ul> 
                    </section>    
                    </div>                  
                         
        
                </div>
            </div>
        </div>
        </div>
    </div>
    </div>

   
   
</body>