
<div class="row BottomMenuWrap SimpleTop">
       
         
            <div class="container">
            
            <div class="customMenuGraySimple">
                <ul class="BottomMenu">
                    <li><a href="/gallery"><b><font color="#A52A2A">Back to The List</font></b></a></li>
                    <li><a href="/project1">project 1</a></li>
                    <li><a href="/project2">project 2</a></li>
                    <li><a href="/project3"><b><font color="#A52A2A">project 3</font></b></a></li>
                    <li><a href="/project4">project 4</a></li>
                    <li><a href="/project5">project 5</a></li>
                  
                </ul>
                <ul class="PageNavi">
                  <li><a href="/project2"><span><em></em></span><del class="text">Previous Project</del></a></li>
                  <li><a href="/project4"><span><em></em></span><del class="text">Next Project</del></a></li>
                </ul>
             </div>
             </div>
          </div>



        <div id="wrap">
        <div class="row" id="PageLeftBar">
        <div class="container">
        <br/>
        <br/>
        <br/>
        
            
            <div class="span12 PageLeftWrap">
                <div class="span3 sidebar-nav">
                      


                     
                    
                     


                 <div class="span12 Null">
                    <section id="portfolio-wrapper" class="examples-section">
                   <h3>Project 3 Photo Gallery</h3>
                  <ul class="portfolio grid isotope">
                  
                     <li data-category="Residential" class="Residential item-small isotope-item">
                      <a class="example-image-link" href="/assets/proj3/DSC_trtd.jpg" data-lightbox="example-2" data-title="Optional caption."><img class="example-image" src="/assets/proj3/DSC_trtd.jpg" alt="image-1"/></a>
                    </li>
                    <li data-category="Hotels" class="Hotels item-small isotope-item">
                     <a class="example-image-link" href="/assets/proj3/entrance_2.JPG" data-lightbox="example-2" data-title="Optional caption."><img class="example-image" src="/assets/proj3/entrance_2.JPG" alt="image-1"/></a>
                    
                    </li> 
                   <li data-category="Hotels" class="Hotels item-small isotope-item">
                    <a class="example-image-link" href="/assets/proj3/entrance_lobby.JPG" data-lightbox="example-2" data-title="Optional caption."><img class="example-image" src="/assets/proj3/entrance_lobby.JPG" alt="image-1"/></a>
                     </li> 
                     <li data-category="Hotels" class="Hotels item-small isotope-item">
                    <a class="example-image-link" href="/assets/proj2/living_room.JPG" data-lightbox="example-2" data-title="Optional caption."><img class="example-image" src="/assets/proj2/living_room.JPG" alt="image-1"/></a>
                     
                    </li> 
                    
                    <li data-category="Hotels" class="Hotels item-small isotope-item">
                      <a class="example-image-link" href="/assets/proj3/master_bedrm.JPG" data-lightbox="example-2" data-title="Optional caption."><img class="example-image" src="/assets/proj3/master_bedrm.JPG" alt="image-1"/></a>
                    </li> 
                    <li data-category="Hotels" class="Hotels item-small isotope-item">
                       <a class="example-image-link" href="/assets/proj3/master_bedrm_concept.jpg" data-lightbox="example-2" data-title="Optional caption."><img class="example-image" src="/assets/proj3/master_bedrm_concept.jpg" alt="image-1"/></a>
                    </li> 

                    <!--
                    <li data-category="Hotels" class="Hotels item-small isotope-item">
                       <a class="example-image-link" href="/assets/proj3/ind9.png" data-lightbox="example-2" data-title="Optional caption."><img class="example-image" src="/assets/proj3/ind9.png" alt="image-1"/></a>
                    </li> 
                    <li data-category="Hotels" class="Hotels item-small isotope-item">
                       <a class="example-image-link" href="/assets/proj3/ind10.png" data-lightbox="example-2" data-title="Optional caption."><img class="example-image" src="/assets/proj3/ind10.png" alt="image-1"/></a>
                    </li> 

                 
                  
                     <li data-category="Residential" class="Residential item-small isotope-item">

                        <a class="example-image-link" href="/assets/proj3/ind14.png" data-lightbox="example-2" data-title="Optional caption."><img class="example-image" src="/assets/proj3/ind14.png" alt="image-1"/></a>
                    
                    </li>      
                    <li data-category="Hotels" class="Hotels item-small isotope-item">
                    <a class="example-image-link" href="/assets/proj3/ind15.png" data-lightbox="example-2" data-title="Optional caption."><img class="example-image" src="/assets/proj3/ind15.png" alt="image-1"/></a>
                     
                    </li> 
                    <li data-category="Hotels" class="Hotels item-small isotope-item">
                    <a class="example-image-link" href="/assets/proj3/ind1516.png" data-lightbox="example-2" data-title="Optional caption."><img class="example-image" src="/assets/proj3/ind1516.png" alt="image-1"/></a>
                    </li> 
                
                  
                     <li data-category="Residential" class="Residential item-small isotope-item">
                      <a class="example-image-link" href="/assets/proj3/ind20.png" data-lightbox="example-2" data-title="Optional caption."><img class="example-image" src="/assets/proj3/ind20.png" alt="image-1"/></a>
                     
                    </li>      
                    <li data-category="Hotels" class="Hotels item-small isotope-item">
                     <a class="example-image-link" href="/assets/proj3/ind21.png" data-lightbox="example-2" data-title="Optional caption."><img class="example-image" src="/assets/proj3/ind21.png" alt="image-1"/></a>                   
                    </li>                            
                     <li data-category="Residential" class="Residential item-small isotope-item">
                      <a class="example-image-link" href="/assets/proj3/ind22.png" data-lightbox="example-2" data-title="Optional caption."><img class="example-image" src="/assets/proj3/ind22.png" alt="image-1"/></a>
                    </li>                                   
                    <li data-category="Residential" class="Residential item-small isotope-item">
                     <a class="example-image-link" href="/assets/proj3/ind23.png" data-lightbox="example-2" data-title="Optional caption."><img class="example-image" src="/assets/proj3/ind23.png" alt="image-1"/></a>
                     
                    </li>        
                    
                              
                 <li data-category="Residential" class="Residential item-small isotope-item">
                 <a class="example-image-link" href="/assets/proj3/ind11.png" data-lightbox="example-2" data-title="Optional caption."><img class="example-image" src="/assets/proj3/ind11.png" alt="image-1"/></a>                
                </li>      
                <li data-category="Hotels" class="Hotels item-small isotope-item">
                 <a class="example-image-link" href="/assets/proj3/ind12.png" data-lightbox="example-2" data-title="Optional caption."><img class="example-image" src="/assets/proj3/ind12.png" alt="image-1"/></a> </li>
                              
                     <li data-category="Residential" class="Residential item-small isotope-item">
                      <a class="example-image-link" href="/assets/proj3/ind13.png" data-lightbox="example-2" data-title="Optional caption."><img class="example-image" src="/assets/proj3/ind13.png" alt="image-1"/></a>                     
                    </li>   

                                    
                         <li data-category="Residential" class="Residential item-small isotope-item">
                          <a class="example-image-link" href="/assets/proj3/ind16.png" data-lightbox="example-2" data-title="Optional caption."><img class="example-image" src="/assets/proj3/ind16.png" alt="image-1"/></a>
                        </li>      
                        <li data-category="Hotels" class="Hotels item-small isotope-item">
                         <a class="example-image-link" href="/assets/proj3/ind17.png" data-lightbox="example-2" data-title="Optional caption."><img class="example-image" src="/assets/proj3/ind17.png" alt="image-1"/></a>
                        </li>                                
                         <li data-category="Residential" class="Residential item-small isotope-item">
                          <a class="example-image-link" href="/assets/proj3/ind18.png" data-lightbox="example-2" data-title="Optional caption."><img class="example-image" src="/assets/proj3/ind18.png" alt="image-1"/></a>
                        </li> 
                                      
                        <li data-category="Residential" class="Residential item-small isotope-item">
                         <a class="example-image-link" href="/assets/proj3/ind19.png" data-lightbox="example-2" data-title="Optional caption."><img class="example-image" src="/assets/proj3/ind19.png" alt="image-1"/></a>

                        </li>   -->          
                      </ul> 
                    </section>    
                    </div>                  
                         
      
                </div>
            </div>
        </div>
        </div>
    </div>
    </div>

   
   
</body>