  <div id="wrap">
    <div id="ProjectPage"> 
<div class="row BottomMenuWrap SimpleTop">
       
         
            <div class="container">
            
            <div class="customMenuGraySimple">
                <ul class="BottomMenu">
                    <li><a href="/gallery"><b><font color="#A52A2A">Back to The List</font></b></a></li>
                     <li><a href="/project1">project 1</a></li>
                    <li><a href="/project2"><b><font color="#A52A2A">project 2</font></b></a></li>
                    <li><a href="/project3">project 3</a></li>
                    <li><a href="/project4">project 4</a></li>
                    <li><a href="/project5">project 5</a></li>                    
                </ul>
                <ul class="PageNavi">
                  <li><a href="/project1"><span><em></em></span><del class="text">Previous Project</del></a></li>
                  <li><a href="/project3"><span><em></em></span><del class="text">Next Project</del></a></li>
                </ul>
             </div>
             </div>
          </div>

     <div id="wrap">
        <div class="row" id="PageLeftBar">
        <div class="container">
        <br/>
        <br/>
        <br/>
        
            
            <div class="span12 PageLeftWrap">
                <div class="span3 sidebar-nav">
                 <div class="span12 Null">
                    <section id="portfolio-wrapper" class="examples-section">
                   <h3>Project 2 Photo Gallery</h3>
                  <ul class="portfolio grid isotope">
                  
                     <li data-category="Residential" class="Residential item-small isotope-item">
                      <a class="example-image-link" href="/assets/proj2/bedroomt_v_unit.JPG" data-lightbox="example-2" data-title="AKG Design."><img class="example-image" src="/assets/proj2/bedroomt_v_unit.JPG" alt="image-1"/></a>
                    </li>
                    <li data-category="Hotels" class="Hotels item-small isotope-item">
                     <a class="example-image-link" href="/assets/proj2/entrance_1.JPG" data-lightbox="example-2" data-title="AKG Design."><img class="example-image" src="/assets/proj2/entrance_1.JPG" alt="image-1"/></a>
                    
                    </li> 
                  
                  
                    <li data-category="Hotels" class="Hotels item-small isotope-item">
                       <a class="example-image-link" href="/assets/proj2/kids_bed.JPG" data-lightbox="example-2" data-title="AKG Design."><img class="example-image" src="/assets/proj2/kids_bed.JPG" alt="image-1"/></a>
                    </li> 
                    <li data-category="Hotels" class="Hotels item-small isotope-item">
                       <a class="example-image-link" href="/assets/proj2/kids_wardrobe.JPG" data-lightbox="example-2" data-title="AKG Design."><img class="example-image" src="/assets/proj2/kids_wardrobe.JPG" alt="image-1"/></a>
                    </li> 
                    <li data-category="Hotels" class="Hotels item-small isotope-item">
                       <a class="example-image-link" href="/assets/proj2/living.JPG" data-lightbox="example-2" data-title="AKG Design."><img class="example-image" src="/assets/proj2/living.JPG" alt="image-1"/></a>
                    </li>
                     <li data-category="Residential" class="Residential item-small isotope-item">

                        <a class="example-image-link" href="/assets/proj2/living_CONCEPT.jpg" data-lightbox="example-2" data-title="AKG Design."><img class="example-image" src="/assets/proj2/living_CONCEPT.jpg" alt="image-1"/></a>
                    
                    </li>           
                    </ul> 
                  </section>    
                  </div>                  
                         
                </div>
            </div>
        </div>
        </div>
    </div>
    </div>
    </div>   
   