
<div class="row BottomMenuWrap SimpleTop">
       
         
            <div class="container">
            
            <div class="customMenuGraySimple">
                <ul class="BottomMenu">
                    <li><a href="/gallery"><b><font color="#A52A2A">Back to The List</font></b></a></li>
                    <li><a href="/project1">project 1</a></li>
                    <li><a href="/project2">project 2</a></li>
                    <li><a href="/project3">project 3</a></li>
                    <li><a href="/project4">project 4</a></li>
                    <li><a href="/project5"><b><font color="#A52A2A">project 5</font></b></a></li>
                  
                </ul>
                <ul class="PageNavi">
                  <li><a href="/project4"><span><em></em></span><del class="text">Previous Project</del></a></li>
                  
                  
                </ul>
             </div>
             </div>
          </div>



        <div id="wrap">
        <div class="row" id="PageLeftBar">
        <div class="container">
        <br/>
        <br/>
        <br/>
        
            
            <div class="span12 PageLeftWrap">
                <div class="span3 sidebar-nav">
                      


                     
                    
                     


                 <div class="span12 Null">
                    <section id="portfolio-wrapper" class="examples-section">
                   <h3>Project 5 Photo Gallery</h3>
                  <ul class="portfolio grid isotope">
                  
                     <li data-category="Residential" class="Residential item-small isotope-item">
                      <a class="example-image-link" href="/assets/proj5/1.jpg" data-lightbox="example-2" data-title="Optional caption."><img class="example-image" src="/assets/proj5/1.jpg" alt="image-1"/></a>
                    </li>
                    <li data-category="Hotels" class="Hotels item-small isotope-item">
                     <a class="example-image-link" href="/assets/proj5/2.jpg" data-lightbox="example-2" data-title="Optional caption."><img class="example-image" src="/assets/proj5/2.jpg" alt="image-1"/></a>
                    
                    </li> 
                   <li data-category="Hotels" class="Hotels item-small isotope-item">
                    <a class="example-image-link" href="/assets/proj5/3.jpg" data-lightbox="example-2" data-title="Optional caption."><img class="example-image" src="/assets/proj5/3.jpg" alt="image-1"/></a>
                     </li> 
                    <li data-category="Hotels" class="Hotels item-small isotope-item">
                      <a class="example-image-link" href="/assets/proj5/4.jpg" data-lightbox="example-2" data-title="Optional caption."><img class="example-image" src="/assets/proj5/4.jpg" alt="image-1"/></a>
                    </li> 
                    <li data-category="Hotels" class="Hotels item-small isotope-item">
                       <a class="example-image-link" href="/assets/proj5/5.jpg" data-lightbox="example-2" data-title="Optional caption."><img class="example-image" src="/assets/proj5/5.jpg" alt="image-1"/></a>
                    </li> 

                    
                    <li data-category="Hotels" class="Hotels item-small isotope-item">
                       <a class="example-image-link" href="/assets/proj5/6.jpg" data-lightbox="example-2" data-title="Optional caption."><img class="example-image" src="/assets/proj5/6.jpg" alt="image-1"/></a>
                    </li> 
                    <li data-category="Hotels" class="Hotels item-small isotope-item">
                       <a class="example-image-link" href="/assets/proj5/7.jpg" data-lightbox="example-2" data-title="Optional caption."><img class="example-image" src="/assets/proj5/7.jpg" alt="image-1"/></a>
                    </li> 

                 
                  
                     <li data-category="Residential" class="Residential item-small isotope-item">

                        <a class="example-image-link" href="/assets/proj5/8.jpg" data-lightbox="example-2" data-title="Optional caption."><img class="example-image" src="/assets/proj5/8.jpg" alt="image-1"/></a>
                    
                    </li>      
                    <li data-category="Hotels" class="Hotels item-small isotope-item">
                    <a class="example-image-link" href="/assets/proj5/9.jpg" data-lightbox="example-2" data-title="Optional caption."><img class="example-image" src="/assets/proj5/9.jpg" alt="image-1"/></a>
                     
                    </li> 
                    <li data-category="Hotels" class="Hotels item-small isotope-item">
                    <a class="example-image-link" href="/assets/proj5/10.jpg" data-lightbox="example-2" data-title="Optional caption."><img class="example-image" src="/assets/proj5/10.jpg" alt="image-1"/></a>
                    </li> 
                
                  
                     <li data-category="Residential" class="Residential item-small isotope-item">
                      <a class="example-image-link" href="/assets/proj5/11.jpg" data-lightbox="example-2" data-title="Optional caption."><img class="example-image" src="/assets/proj5/11.jpg" alt="image-1"/></a>
                     
                    </li>      
                    <li data-category="Hotels" class="Hotels item-small isotope-item">
                     <a class="example-image-link" href="/assets/proj5/12.jpg" data-lightbox="example-2" data-title="Optional caption."><img class="example-image" src="/assets/proj5/12.jpg" alt="image-1"/></a>                   
                    </li>                            
                     <li data-category="Residential" class="Residential item-small isotope-item">
                      <a class="example-image-link" href="/assets/proj5/13.jpg" data-lightbox="example-2" data-title="Optional caption."><img class="example-image" src="/assets/proj5/13.jpg" alt="image-1"/></a>
                    </li>                                   
                    <li data-category="Residential" class="Residential item-small isotope-item">
                     <a class="example-image-link" href="/assets/proj5/14.jpg" data-lightbox="example-2" data-title="Optional caption."><img class="example-image" src="/assets/proj5/14.jpg" alt="image-1"/></a>
                     
                    </li>        
                    
                              
                 <li data-category="Residential" class="Residential item-small isotope-item">
                 <a class="example-image-link" href="/assets/proj5/15.jpg" data-lightbox="example-2" data-title="Optional caption."><img class="example-image" src="/assets/proj5/15.jpg" alt="image-1"/></a>                
                </li>      
                <li data-category="Hotels" class="Hotels item-small isotope-item">
                 <a class="example-image-link" href="/assets/proj5/16.jpg" data-lightbox="example-2" data-title="Optional caption."><img class="example-image" src="/assets/proj5/16.jpg" alt="image-1"/></a> </li>
                              
                    <!--
                    <li data-category="Residential" class="Residential item-small isotope-item">
                      <a class="example-image-link" href="/assets/proj5/ind13.jpg" data-lightbox="example-2" data-title="Optional caption."><img class="example-image" src="/assets/proj5/ind13.jpg" alt="image-1"/></a>                     
                    </li>   

                                    
                         <li data-category="Residential" class="Residential item-small isotope-item">
                          <a class="example-image-link" href="/assets/proj5/ind16.jpg" data-lightbox="example-2" data-title="Optional caption."><img class="example-image" src="/assets/proj5/ind16.jpg" alt="image-1"/></a>
                        </li>      
                        <li data-category="Hotels" class="Hotels item-small isotope-item">
                         <a class="example-image-link" href="/assets/proj5/ind17.jpg" data-lightbox="example-2" data-title="Optional caption."><img class="example-image" src="/assets/proj5/ind17.jpg" alt="image-1"/></a>
                        </li>                                
                         <li data-category="Residential" class="Residential item-small isotope-item">
                          <a class="example-image-link" href="/assets/proj5/ind18.jpg" data-lightbox="example-2" data-title="Optional caption."><img class="example-image" src="/assets/proj5/ind18.jpg" alt="image-1"/></a>
                        </li> 
                                      
                        <li data-category="Residential" class="Residential item-small isotope-item">
                         <a class="example-image-link" href="/assets/proj5/ind19.jpg" data-lightbox="example-2" data-title="Optional caption."><img class="example-image" src="/assets/proj5/ind19.jpg" alt="image-1"/></a>

                        </li>   -->          
                      </ul> 
                    </section>    
                    </div>                  
                         
      
                </div>
            </div>
        </div>
        </div>
    </div>
    </div>

   
   
</body>