<!DOCTYPE html>
<html>
<head>
  <title>AKG Designs</title>
  <%= stylesheet_link_tag    "application"%>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render "/shared/header" %>

<%= yield %>
<%= render "/shared/footer" %>


</body>
</html>
